@import "tailwindcss";

@theme {
  --font-primary: "Oswald", ui-sans-serif, system-ui, sans-serif;
  --font-secondary: "Satisfy", cursive;

  --color-primary: #ead7ba;
  --color-text: #342612;
  --color-text-complement: #813837;
  --color-secondary: #6c5f48;
}

html,
body {
  @apply bg-[#EAD7BA] text-[#342612];
  font-family: var(--font-primary);
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}
